@charset "UTF-8";
.companis {
  padding: 96px 0;
}

.companis__title {
  text-align: center;
  margin-bottom: 32px;
}

.companis__logo {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
  grid-template-columns: repeat(5, 1fr);
}

.compani__logo {
  max-height: 44px;
  -o-object-fit: cover;
     object-fit: cover;
  padding: 5px;
}

/* меньше чем 860px*/
@media (max-width: 860px) {
  .companis {
    padding: 66px 0;
  }

  .companis__logo {
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
  }
}
/* меньше чем 520px*/
@media (max-width: 520px) {
  .companis {
    padding: 44px 0;
  }

  .companis__logo {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }
}
.reviews {
  padding: 120px 0;
  background: #FAF8F6;
}

.reviews__title {
  max-width: 530px;
  margin-bottom: 38px;
}

.reviews__slider {
  padding-left: 120px;
}

.reviews__slide {
  background: #FFF;
  padding: 48px;
  max-width: 400px;
  min-height: 412px;
}

.reviews__slide + .reviews__slide {
  margin-left: 36px;
}

.slide__number {
  color: #DBDEE6;
  font-size: 30px;
  font-weight: 800;
  line-height: 40px;
  /* 133.333% */
  letter-spacing: -0.9px;
  margin-bottom: 15px;
}

.slide__text {
  color: #4A556C;
  font-size: 24px;
  line-height: 32px;
  /* 133.333% */
  letter-spacing: -0.72px;
  margin-bottom: 15px;
}

.slide__name {
  color: #333461;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  /* 133.333% */
  letter-spacing: -0.72px;
  margin-bottom: 15px;
}