@charset "UTF-8";
/*
$fonts: 'Inter';
$fontsColor: #000;
color: $fontsColor;

font: {
    family: 'Inter';
    size: 24px;
    weight: 400;
}
*/
.section__container {
  padding: 96px 0;
}

/* меньше чем 860px*/
@media (max-width: 860px) {
  .section__container {
    padding: 56px 0;
  }
}
@media (max-width: 660px) {
  .section__container {
    padding: 40px 0;
  }
}
.header__container {
  min-height: 60px;
  background-color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__arrow {
  display: none;
}

.menu__icon {
  display: none;
}

.menu__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.free-guid__link {
  border-radius: 4px;
  background: #20AD96;
  padding: 11px 16px;
  color: #FFF;
  font-size: 14px;
  font-weight: 600;
}

/* ------------------------------------------------------------------- */
body._pc .menu__list > li:hover .menu__sub-list {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}

body._touch .menu__list > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body._touch .menu__link {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

body._touch .menu__arrow {
  display: block;
  width: 0;
  height: 0;
  margin: 0 0 0 5px;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid #000000;
}

body._touch .menu__list > li._active .menu__arrow {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

/* больше чем 767px*/
@media (min-width: 767px) {
  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
}
/* меньше чем 767px*/
@media (max-width: 767px) {
  .header__logo {
    z-index: 2;
  }

  .menu__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }

  .free-guid {
    margin-top: 36px;
  }

  .menu__icon {
    z-index: 5;
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
  }

  .menu__icon::before,
.menu__icon::after {
    content: "";
  }

  .menu__icon span,
.menu__icon::before,
.menu__icon::after {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: #333461;
  }

  .menu__icon::before {
    top: 0;
  }

  .menu__icon::after {
    bottom: 0;
  }

  .menu__icon span {
    top: 50%;
    -webkit-transform: scale(1) translate(0px, -50%);
            transform: scale(1) translate(0px, -50%);
  }

  .menu__icon._active span {
    -webkit-transform: scale(0) translate(0px, -50%);
            transform: scale(0) translate(0px, -50%);
  }

  .menu__icon._active::before {
    top: 50%;
    -webkit-transform: rotate(-45deg) translate(0px, -50%);
            transform: rotate(-45deg) translate(0px, -50%);
  }

  .menu__icon._active::after {
    bottom: 50%;
    -webkit-transform: rotate(45deg) translate(0px, 50%);
            transform: rotate(45deg) translate(0px, 50%);
  }

  .menu__body {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: #EDEFF5;
    padding: 100px 30px 30px 30px;
    -webkit-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
    overflow: auto;
  }

  .menu__body._active {
    left: 0;
  }

  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 60px;
    background: #EDEFF5;
    z-index: 2;
  }

  .menu__list {
    margin-top: 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .menu__list li {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .menu__list > li + li {
    margin-top: 24px;
  }

  .menu__link {
    font-size: 24px;
  }
}
.menu__link {
  margin-right: 30px;
}

.footer__subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 48px 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subscribe__info {
  max-width: 738px;
}

.subscribe__title {
  font-size: 30px;
  font-weight: 800;
  margin-bottom: 16px;
}

.subscribe-form__input {
  border-radius: 8px;
  border: 1px solid #D0D5DD;
  background: #FFF;
  /* Shadow/xs */
  -webkit-box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
          box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  padding: 14px 105px 10px 14px;
  margin-right: 16px;
}

.subscribe-form__btn {
  border-radius: 8px;
  border: 1px solid #20AD96;
  background: #20AD96;
  padding: 10px 18px;
  -webkit-box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
          box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  color: #FFF;
  font-size: 16px;
  font-weight: 500;
}

@media (max-width: 1000px) {
  .subscribe-form__input {
    padding: 14px 64px 10px 14px;
  }

  .footer__subscribe {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }

  .subscribe__info {
    margin-bottom: 36px;
  }
}
@media (max-width: 400px) {
  .footer__subscribe {
    padding: 10px 0;
  }

  .subscribe__form {
    margin: 0 auto;
  }

  .subscribe-form__input {
    display: block;
    width: 300px;
    /* margin: 0 auto; */
    margin-bottom: 12px;
  }

  .subscribe-form__btn {
    width: 300px;
  }
}
.footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 64px 0;
  border-bottom: 1px solid #E4E7EC;
  gap: 64px;
}

.footer__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 64px;
}

.footer-top__about {
  max-width: 320px;
}

.footer__title {
  font-size: 14px;
  font-weight: 800;
  line-height: 20px;
  margin-bottom: 16px;
}

.footer__link, .footer-top__text {
  color: rgba(74, 85, 108, 0.5);
  line-height: 28px;
}

.footer-top__text {
  margin-top: 32px;
}

.footer__bottom {
  padding: 37px 0 48px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-borrom__left {
  max-width: 210px;
}

.footer-bottom__centr {
  max-width: 212px;
}

.footer__social + .footer__social {
  margin-left: 24px;
}

/* меньше чем 767px*/
@media (max-width: 767px) {
  .footer__title {
    font-size: 16px;
  }

  .footer__link {
    font-size: 20px;
    line-height: 34px;
  }

  .footer-bottom__centr .footer__link {
    font-size: 16px;
  }
}
/* меньше чем 600px*/
@media (max-width: 600px) {
  .footer__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 46px 0;
  }

  .footer-top__about {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }

  .footer__bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .footer__navigation {
    gap: 46px;
  }
}
@media (max-width: 360px) {
  .footer__link {
    font-size: 16px;
    line-height: 38px;
  }
}
.features__section {
  text-align: center;
}

.features__head {
  max-width: 768px;
  margin: 0 auto;
  margin-bottom: 64px;
}

.features__title {
  margin-top: 12px;
  margin-bottom: 20px;
}

.features__subtitle, .features__text {
  color: rgba(74, 85, 108, 0.7);
}

.features__text {
  font-size: 20px;
  line-height: 30px;
}

.features__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 32px 1fr 32px 1fr;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 64px 32px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.features-item__img {
  position: relative;
  margin-bottom: 20px;
}

.features-item__img::before {
  content: "";
  position: absolute;
  width: 48px;
  height: 48px;
  border-radius: 28px;
  border: 8px solid #FAF8F6;
  background: #FAF8F6;
  z-index: -1;
  top: calc(100% / 2 - 28px);
  left: calc(100% / 2 - 24px);
}

.features-item__title {
  margin-bottom: 8px;
}

/* меньше чем 860px*/
@media (max-width: 860px) {
  .features__head {
    margin-bottom: 44px;
  }

  .features__list {
    -ms-grid-columns: 1fr 32px 1fr;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 52px 32px;
  }
}
@media (max-width: 660px) {
  .features__text {
    font-size: 18px;
  }
}
@media (max-width: 530px) {
  .features__list {
    -ms-grid-columns: 1fr;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 52px 32px;
  }

  .features__title {
    margin-top: 8px;
    margin-bottom: 12px;
  }

  .features__head {
    margin-bottom: 32px;
  }

  h3 {
    font-size: 24px;
  }

  .features__text {
    font-size: 16px;
  }

  .features__list {
    grid-gap: 36px 32px;
  }
}
.hero {
  background: #FAF8F6;
  padding: 140px 0;
  position: relative;
}

.hero::after {
  content: "";
  background-image: url(../img/vector.svg);
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  display: inline-block;
  width: 101px;
  height: 17px;
  top: 55px;
  right: 90%;
}

.hero__info {
  margin-right: 440px;
  padding-right: 16px;
}

.hero__subtitle {
  color: #4A556C;
  opacity: 0.4;
  margin-bottom: 6px;
  max-width: 520px;
}

.hero__title {
  max-width: 520px;
  margin-bottom: 18px;
}

.hero__text {
  max-width: 499px;
  margin-bottom: 18px;
}

.hero__link {
  border-radius: 10px;
  background: #20AD96;
  padding: 9px 16px;
  color: #FFFFFF;
  font-size: 14px;
}

.hero__images {
  position: absolute;
  left: 64%;
  top: 20%;
  -o-object-fit: cover;
     object-fit: cover;
}

.hero__img {
  max-width: 420px;
}

.label__info {
  background: #FFF;
  -webkit-box-shadow: 0px 16px 96px 0px rgba(111, 124, 144, 0.16);
          box-shadow: 0px 16px 96px 0px rgba(111, 124, 144, 0.16);
  padding: 24px;
  position: absolute;
  top: -9%;
  left: -25%;
}

.label__info::before {
  content: "";
  background-image: url(../img/protection.svg);
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  display: inline-block;
  width: 56px;
  height: 56px;
  top: 25%;
  left: 5%;
}

.label__top {
  padding-left: 72px;
  color: #333461;
  font-size: 24px;
  font-weight: 600;
}

.label__bottom {
  padding-left: 72px;
  font-size: 12px;
}

@media (max-width: 1000px) {
  .hero {
    padding: 96px 0;
  }

  .hero::after {
    top: 36px;
  }

  .hero__info {
    margin-right: 380px;
    max-width: 480px;
  }

  .hero__img {
    max-width: 360px;
  }

  .label__info {
    padding: 20px;
    left: -16%;
  }
}
@media (max-width: 880px) {
  .hero__info {
    margin-right: 380px;
    max-width: 480px;
  }

  .label__info {
    padding: 16px;
  }

  .label__info::before {
    width: 38px;
    height: 38px;
  }

  .label__top {
    font-size: 18px;
  }

  .label__top, .label__bottom {
    padding-left: 46px;
  }

  .hero__img {
    max-width: 280px;
  }
}
@media (max-width: 760px) {
  .hero {
    padding: 48px 0;
  }

  .hero::after {
    top: 10px;
  }

  .hero__img {
    max-width: 220px;
  }

  .hero__info {
    margin-right: 250px;
  }

  .hero__images {
    top: 8%;
    right: 2%;
  }
}
@media (max-width: 630px) {
  .hero__img {
    max-width: 180px;
  }

  .label__info {
    padding: 9px;
  }

  .hero__info {
    margin-right: 200px;
  }
}
@media (max-width: 490px) {
  .hero__img {
    display: none;
  }

  .hero__label {
    display: none;
  }

  .hero__info {
    margin-right: 0;
  }
}