.footer__top{
    display: flex;
 padding: 64px 0;
 border-bottom: 1px solid #E4E7EC;
 gap: 64px;
}
.footer__navigation{
    display: flex;
    gap: 64px;
}
.footer-top__about{
    max-width: 320px;
}

.footer__title{
font-size: 14px;
font-weight: 800;
line-height: 20px;
margin-bottom: 16px;
}
.footer__link, .footer-top__text{
    color: rgba(74, 85, 108, 0.50);
    line-height: 28px;
}
.footer-top__text{
    margin-top: 32px;
}
.footer__bottom{
    padding: 37px 0 48px 0;
    display: flex;
    justify-content: space-between;
}
.footer-borrom__left{
    max-width: 210px;
}
.footer-bottom__centr{
    max-width: 212px;
}
.footer__social + .footer__social{
    margin-left: 24px;
}

/* меньше чем 767px*/
@media ( max-width: 767px) {
    .footer__title{
        font-size: 16px;
    }
    .footer__link{
        font-size: 20px;
        line-height: 34px;
    }
    .footer-bottom__centr .footer__link {
        font-size: 16px;
    }
}
/* меньше чем 600px*/
@media ( max-width: 600px) {
    .footer__top{
        flex-direction: column;
        padding: 46px 0;
    }
    .footer-top__about{
        align-self: center;
    }
    .footer__bottom{
        flex-direction: column-reverse;
    }
    .footer__navigation{
        gap: 46px;
    }
}
@media ( max-width: 360px){
    .footer__link {
        font-size: 16px;
        line-height: 38px;
    }
}