
/*
$fonts: 'Inter';
$fontsColor: #000;
color: $fontsColor;

font: {
    family: 'Inter';
    size: 24px;
    weight: 400;
}
*/
.section__container{
    padding: 96px 0;
  }

@import "header";

@import "footer"; 

@import "features"; 
