.introduction{
    padding: 96px 0 61px 0;
}
.introduction__top{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.intoduction__top-title{
    max-width: 492px;
    padding-right: 10px;
}
.inroduction__top-text + .introduction__top-text{
    margin-top: 24px;
}
.itroduction__top-info{
    max-width: 468px;
}
.introduction__bottom{
    display: flex;
    justify-content: space-between;
}
.intoduction__item{
    padding: 40px;
    max-width: 380px;
    &-img{
        width: 72px;
        height: 72px;
        margin-bottom: 32px;
    }
    &-title{
        margin-bottom: 16px;
    }
}
/* меньше чем 980px*/
@media ( max-width: 980px){
  .introduction {
    padding: 74px 0 36px 0;
}
  }

  @media ( max-width: 760px){
   .introduction__top{
    flex-direction: column;
   }
   .intoduction__item{
    padding: 20px;
}
    .introduction__top{
    grid-template-columns: repeat(1, 1fr);
}
   .intoduction__top-title{
    margin-bottom: 24px;
}
.inroduction__top-text + .introduction__top-text{
    margin-top: 16px;
}
.intoduction__item-img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}
.intoduction__item-title {
    margin-bottom: 10px;
}
}

 @media ( max-width: 760px){
    .introduction__bottom{
        flex-wrap: wrap;
    }
    .intoduction__item{
        text-align: center;
    }
    .introduction__bottom{
        justify-content: center;
    }
    .introduction {
        padding: 54px 0 24px 0;
    }
 }
 .reviews{
    padding: 120px 0;
    background: #FAF8F6;
  }
  .reviews__title{
    max-width: 530px;
    margin-bottom: 38px;
  }
  .reviews__slider{
    padding-left: 120px;
  }
  .reviews__slide{
    background: #FFF;

padding: 48px;
min-height: 412px;
  }
  .reviews__slide + .reviews__slide{
    margin-left: 36px;
  }
  .slide__number{
    color:  #DBDEE6;
font-size: 30px;
font-weight: 800;
line-height: 40px; /* 133.333% */
letter-spacing: -0.9px;
margin-bottom: 15px;
  }
  .slide__text{
    color: #4A556C;
font-size: 24px;
line-height: 32px; /* 133.333% */
letter-spacing: -0.72px;
margin-bottom: 15px;
  }
  .slide__name{
    color: #333461;
font-size: 24px;
font-weight: 700;
line-height: 32px; /* 133.333% */
letter-spacing: -0.72px;
margin-bottom: 15px;
  }
/* меньше чем 600px*/
@media ( max-width: 1000px) {
    .reviews {
        padding: 96px 0;
    }
  .reviews__slider{
    padding-left: 24px;
  }}
/* меньше чем 600px*/
@media ( max-width: 600px) {
    .reviews {
        padding: 46px 0;
    }
  .reviews__slider{
    padding-left: 12px;
  }
.reviews__slide + .reviews__slide {
  margin-left: 24px;
}
}
.blog{
  padding: 97px 0;
}
.blog__title{
  max-width: 680px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 64px;
}
.blog__area{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 64px;
  row-gap: 40px;
}
@media ( max-width: 1110px){
  .blog__area{
   grid-template-columns: repeat(2, 1fr);
  }
 }
 @media ( max-width: 740px){
   .blog__area{
    grid-template-columns: repeat(1, 1fr);
   }
  }
.blog__item{
  max-width: 356px;
  margin: 0 auto;
  border: 1px solid #EDEFF5;
}
.blog-item__img{
  width: 356px;
  height: 160px;
  object-fit: cover;
  object-position: center center;
}
@media ( max-width: 370px){
 .blog-item__img{
  width: 296px;
 }
 .blog-item__info {
  max-width: 296px;
}
 }
.blog-item__info{
  padding: 24px;
}
.blog-item__title{
font-size: 24px;
font-weight: 700;
line-height: 32px;
margin-bottom: 12px;
}
.blog__btn{
  border-radius: 10px;
background: #20AD96;
padding: 10px 60px;
font-size: 14px;
color: #fff;
display: block;
margin: 0 auto;
}
.section__guid{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.guid__title{
  margin-bottom: 22px;
}
.guid__info{
  max-width: 550px;
}
.guid__text + .guid__text{
  margin-top: 12px;
}
.guid__text{
  margin-bottom: 22px;
}
.large{
  font-size: 22px;
  line-height: 150%;
}
