.garantee__wrapper{
    padding: 80px 0;
    text-align: center;
}
.garantee__img{
    margin-bottom: 29px;
}
.garantee__title{
    margin: 0 auto;
    margin-bottom: 24px;
    max-width: 540px;
}
.garantee__text{
    margin: 0 auto;
    max-width: 540px;
    color: rgba(74, 85, 108, 0.70);
text-align: center;
font-size: 20px;
line-height: 150%;
}

/* меньше чем 920px*/
@media ( max-width: 920px){
    .garantee__wrapper{
        padding: 56px 0;
    }
}
/* 
/* меньше чем 820px*/
@media ( max-width: 820px){
    .garantee__wrapper{
        padding: 36px 0;
    }
}
/* меньше чем 680px*/
@media ( max-width: 680px){
    .garantee__wrapper{
        padding: 28px 0;
    }
}