.garantee__wrapper{
    padding: 120px 0 122px 0;
    text-align: center;
}
.garantee__img{
    margin-bottom: 29px;
}
.garantee__title{
    margin: 0 auto;
    margin-bottom: 24px;
    max-width: 540px;
}
.garantee__text{
    margin: 0 auto;
    max-width: 540px;
    color: rgba(74, 85, 108, 0.70);
text-align: center;
font-size: 20px;
line-height: 150%;
}