        //reset

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul, li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Kumbh+Sans:wght@400;500;600;700;800&display=swap');
//font-family: 'Inter', sans-serif;
.wrapper{
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
main{
  flex-grow: 1;
}
header{
  position: sticky;
  top: 0;
  z-index: 10;
}
.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 10px;
}
body {
  font-family: 'Kumbh Sans', sans-serif;
  font-weight: 400;
  line-height: 24px;
  color: #4A556C;
}
h1 {
color: #333461;
font-size: 72px;
font-family: 'Kumbh Sans', sans-serif;
font-style: normal;
font-weight: 800;
line-height: 120%;
letter-spacing: -0.72px;
}
@media ( max-width: 1000px) {
  h1{
    font-size: 64px;
  }
}
@media ( max-width: 840px) {
  h1{
    font-size: 54px;
  }
}
@media ( max-width: 600px) {
  h1{
    font-size: 48px;
  }
}
@media ( max-width: 400px) {
  h1{
    font-size: 42px;
  }
}

h2 {
  color: #333461;
font-size: 48px;
font-family: 'Kumbh Sans', sans-serif;
font-style: normal;
font-weight: 800;
line-height: 58px;
letter-spacing: -0.96px;
}
/* меньше чем 1000px*/
@media ( max-width: 1000px){
  h2{
    font-size: 42px;
  }
}
/* меньше чем 820px*/
@media ( max-width: 820px){
  h2{
    font-size: 36px;
  }
}
h3 {
  color: #333461;
font-size: 36px;
font-family: 'Kumbh Sans',sans-serif;
font-style: normal;
font-weight: 800;
line-height: 44px;
letter-spacing: -0.72px;
}
/* меньше чем 660px*/
@media ( max-width: 660px) {
  h3{
    font-size: 30px;
  }
}
h4{
  color: #333461;
font-size: 20px;
font-family: 'Kumbh Sans', sans-serif;
font-style: normal;
font-weight: 700;
line-height: 24px;
}
/* меньше чем 1000px*/
@media ( max-width: 1000px){
  h4{
    font-size: 19px;
  }
}
@media ( max-width: 660px) {
  h4{
    font-size: 17px;
  }
}
p {
  color: #4A556C;
font-family: 'Kumbh Sans', sans-serif;
font-style: normal;
font-weight: 400;
line-height: 160%;
font-size: 16px;
}
/* меньше чем 820px*/
@media ( max-width: 860px){
   p{
    font-size: 14px;
   }
}
a {
  color: #4A556C;
font-size: 15px;
font-family: 'Kumbh Sans';
font-style: normal;
font-weight: 400;
line-height: 24px;
letter-spacing: -0.3px;
}
.section__container{
  padding: 96px 0;
}
/* меньше чем 860px*/
@media ( max-width: 860px) {
  .section__container{
    padding: 56px 0;
  }
}
@media (max-width: 660px){
.section__container {
    padding: 40px 0;
}}
$color: #20AD96;

.faq{
  padding: 96px 0;
}
.faq__title{
  margin-bottom: 20px;
  text-align: center;
}
.faq__subtitle{
  margin-bottom: 64px;
  text-align: center;
}

.faq__wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.accordion{
  display: flex;
  flex-direction: column;
  max-width: 600px;
  width: 100%;
}

.accordion__title{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 22px;
  font-weight: bold;
  padding: 10px 20px;
  cursor: pointer;
  color: var(--color-text-dark);
  background-color: #fff;
}



.accordion__title span{
  display: inline-flex;
  position: relative;
  width: 40px;
  height: 40px;
  background-color: transparent;
  transform: rotate(0);
  transition: transform 0.5s ease-out;
}

.accordion__title.active span{
  transform: rotate(45deg);
}

.accordion__title span::before{
  content: "";
  position: absolute;
  width: 50%;
  height: 2px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #20AD96;
}

.accordion__title span::after{
  content: "";
  position: absolute;
  width: 2px;
  height: 50%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #20AD96;
}


.accordion__content{
  font-size: 20px;
  line-height: 1.3;
  overflow: hidden;
  padding: 0 20px;
  box-sizing: content-box;
  border-bottom: 1px solid #E4E7EC;
  max-height: 0;
  opacity: 0;
  visibility: hidden;
  transition: max-height 0.5s ease-out, padding 0.5s ease-out, opacity 0.1s ease-out 0.5s, visibility 0.1s ease-out 0.5s;
}

.accordion__content.active{
  visibility: visible;
  opacity: 1;
  padding: 20px;
  transition: max-height 0.5s ease-out, padding 0.5s ease-out, opacity 0.1s ease-out, visibility 0.1s ease-out;
}

.faq__cta{
  padding: 32px 0;
  border-radius: 16px;
background: #FAF8F6;
text-align: center;
}
.cta__title{
  max-width: 768px;
  margin: 0 auto;
  margin-bottom: 8px;
}
.cta__text{
  max-width: 768px;
  margin: 0 auto;
  margin-bottom: 32px;
}
.cta__link, .session__btn {
  border-radius: 4px;
  background: #20AD96;
  padding: 11px 16px;
  color: #FFF;
  font-size: 14px;
  font-weight: 600;
  }

  .session{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10px;
    border-radius: 24px;
background: #FAF8F6;
box-shadow: 0px 8px 8px -4px rgba(16, 24, 40, 0.04);
padding-top: 68px;
align-items: center;
margin: 96px 0;
  }
.second__title{
  margin-bottom: 20px;
}
.session__text{
  margin-bottom: 40px;
}
.session__btn{
  padding: 11px 54px;
}
.session__img{
  border-top-left-radius: 10px;
  border-bottom-right-radius: 24px;
}
/* -------------------------------------------------------------*/
@import "header"; 

@import "footer"; 

@import "features";

@import "hero";
